
<h1>Create a Team and Heroes!</h1>
<form action='/teams' method='POST'>
  <label for="team[name]">Team Name: </label>
  <input type="text" name="team[name]" id="team[name]">
  <br>
  <label for="team[motto]">Team Motto: </label>
  <input type="text" name="team[motto]" id="team[motto]">
  <br>
  <h2>Hero #1<h2>
    <label for="member1_name">Name:</label>
    <input type="text" name="member1_name" id="team[members][][name]">
    <label for="member1_power">Power:</label>
    <input type="text" name="member1_power" id='team[members][][power]'>
    <label for="member1_bio">Bio:</label>
    <input type="text" name="member1_bio" id="team[members][][bio]">
    <br>
  <h2>Hero #2</h2>
    <label for="member2_bio">Hero #2 Bio:</label>
    <input type="text" id="member2_name" name="team[members][][name]">
    <label for="member2_power">Hero #2 Power:</label>
    <input type="text" id="member2_power" name="team[members][][power]">
    <input type="text" id="member2_bio" name="team[members][][bio]">
    <label for="member2_name">Hero #2 Name:</label>
